* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
  background-color: rgb(41,53,68);
  /* 行高是字体1.15倍 */
  line-height: 1.15;
}

.body1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: .125rem 2.25rem 0;
  /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
  background-color: rgb(41,53,68);
  /* 行高是字体1.15倍 */
  line-height: 1.15;
  
}

.nav_bar {
  min-width: 1024px;
  max-width: 1920px;
  height: 0.895rem;
  /* background-color: linear-gradient(#ff8a00, #e52e71); */
  /* background-image: linear-gradient(#ff8a00, #e52e71); */
  background-image: linear-gradient(to right, rgb(131,109,215), rgb(91,130,231), rgb(32,160,253));
  /* background-image: linear-gradient(40deg, rgb(255 0 0) 60%, orange); */



  /* padding: 0 0 0 0.05rem; */
  display: flex;
}

.nav_bar .left{
  float:left;
  /* border-bottom: 2px solid #02a6b5; */
  width:40%; height:100%;
}


.nav_bar .right{
  float:right;
  width:55%; height:90%;
}

.nav_bar .left ul {
  display: flex;
}

.nav_bar .left ul li:nth-child(1){
  position: relative;
  flex: 1;
  /* text-align: left; */
  padding-left: 5px;
  /* height: .375rem; */
  line-height: 0.885rem;
  font-size: 19px;
  color: rgb(255,255,255);
  /* padding: 0.05rem; */
  font-weight: bold;
  width: 800px;
}
.nav_bar .left  ul li:nth-child(2) {
  position: relative;
  font-size: 14px;
  color: rgb(255,255,255);
  text-align: center;
  font-weight: bold;
  /* padding: 0.05rem; */
  line-height: 0.885rem;
  margin-bottom: 0.1875rem;
  
}

.nav_bar .left ul li img {
  width:40px;
  height:45px;
  vertical-align:middle;
  /* border: bottom 10px; */
}


.mainbox {
  min-width: 1080px;
  max-width: 1920px;
  /* padding: 0.225rem; */
  display: flex;
}


.mainbox1 img{
  /* width: 1050px;
  vertical-align:middle;
  padding-top: .25rem; */
  height: 100%;
  width: 100%;
   /* padding: 0.225rem;  */
   display: flex; 
   background-size:cover;  
   /* overflow:hidden; */
}


.nav_bar1 .left  ul li a{
  position: relative;
  font-size: 14px;
  color: rgb(249,242,210);
  text-align: center;
  font-weight: bold;
  /* padding: 0.05rem; */
  line-height: 0.885rem;
  text-decoration: none;
  margin-bottom: 0.1875rem;
  
}

.nav_bar1 .left ul li img {
  width:25px;
  height:36px;
  padding-top: .25rem;
  vertical-align:middle;
  /* border: bottom 10px; */
}

.nav_bar1 {
  padding-left: .75rem;
}

.nav_bar1 .left{
  float:left;
  /* border-bottom: 2px solid #02a6b5; */
  width:70%; height:90%;
}


.nav_bar1 .right{
  float:right;
  width:25%; height:90%;
}

.nav_bar1 .left ul {
  display: flex;
}

.mainbox .column {
  flex: 229;
}
.mainbox .column:nth-child(2) {
  flex: 593;
  margin: 0 0.1875rem 0.1875rem;
  overflow: hidden;
}
/* .panel {
  position: relative;
  height: 3.45rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.04) url(../images/line\(1\).png);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
} */

.right .up{
  position: relative;
  height: 5.875rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.right .down{
  position: relative;
  height: 4.100rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}




.middle {
  position:relative;
  /* height: 10.125rem; */
}

.middle .up{
  position: relative;
  height: 1.575rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.middle .up .left{
  float:left;
  /* border-bottom: 2px solid #02a6b5; */
  width:45%; height:100%;
  background: rgba(255, 255, 255, 0.04) url(../images/tea_battle.png);
  background-size:cover;
  background-position: center center;
}


.middle .up .right{
  float:right;
  width:6rem; 
  padding: 0.1875rem 0 0.1875rem;
  height: 3.875rem;
}

.bottom {
  position:relative;
  /* height: 10.125rem; */
}

.bottom .down{
  position: relative;
  height: 4rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  margin-top: 0rem;

  
}

.bottom .down .left{
  float:left;

  width:43%; height:100%;
  background-color: #FFFFFF;
  border-radius:10px;
  margin-top: 4px;
  padding: 0.125rem;
}


.bottom .down .right{
  float:right;
  width:56%; height:100%;
  background-color: #FFFFFF;
  border-radius:10px;

}



.end {
  position:relative;
}

.end .ending{
  position: relative;
  height: 4.425rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0rem;

  
}

.end .ending .left{
  float:left;
  width:43%; height:100%;
  background-color: #FFFFFF;
  border-radius:10px;
  padding: 0.02rem;
}


.end .ending .right{
  float:right;
  width:56%; height:100%;
  background-color: #FFFFFF;
  border-radius:10px;
  /* margin-top: -40px;
  margin-right: -10px; */
  /* padding: .125rem; */
  text-align: center;
  color: #595959;
  font-size: 14px;
}

.line2{
  width:100%;
  height:2px;
  background: -webkit-linear-gradient(left, #fff -4%,#FFB6C1 50%,#fff 100%);
  margin-top: 3px;
}



.word {
  font-size: 0.1rem;
  color: #fff;
}






/* 品牌对比部分的修饰 */

.brand_body{
  background-color: rgb(41,53,68);
}


.brand_nav {
  padding-left: .3125rem;
}

.brand_nav .left  ul li a{
  position: relative;
  font-size: 16px;
  color: rgb(249,242,210);
  text-align: center;
  font-weight: bold;
  /* padding: 0.05rem; */
  line-height: 0.885rem;
  text-decoration: none;
  margin-bottom: 0.1875rem;
  
}

.brand_nav .left ul li img {
  width:25px;
  height:36px;
  padding-top: .25rem;
  vertical-align:middle;
  /* border: bottom 10px; */
}


.brand_nav .left{
  float:left;
  /* border-bottom: 2px solid #02a6b5; */
  width:70%; height:90%;
}


.brand_nav .right{
  float:right;
  width:25%; height:90%;
}

.brand_nav .left ul {
  display: flex;
}

.brand_mainbox {
  min-width: 1024px;
  max-width: 1920px;
  padding: 0.225rem;
  display: flex;
}

.brand_mainbox .column {
  flex: 2.8;
}
.brand_mainbox .column:nth-child(2) {
  flex: 4.4;
  margin: 0 0.1875rem 0.1875rem;
  overflow: hidden;
}

.brand_mainbox .column:nth-child(3) {
  flex: 2.8;
}


.brand_mainbox .column.left .up{
  position: relative;
  height: 5.875rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.brand_mainbox .column.left .down{
  position: relative;
  height: 4.100rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.brand_mainbox .column.middle .up{
  position: relative;
  height: 5.875rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.brand_mainbox .column.middle .down{
  position: relative;
  height: 4.100rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.brand_mainbox .column.right .up{
  position: relative;
  height: 5.875rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}

.brand_mainbox .column.right .down{
  position: relative;
  height: 4.100rem;
  padding: 0 0.1875rem 0.1875rem 0;
  margin-bottom: 0.1875rem;
  /* margin-top: 0.9rem; */
  background-color: #FFFFFF;
  border-radius:10px;
}










@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920) {
  html {
    font-size: 80px !important;
  }
}
